{% extends "base_form.html" %}
{% load staticfiles %}
{% block upload_form %}
    <div class="login-box">
        <div class="login-logo">
            <h1>
                <b>登陆</b>
                <small>Preview</small>
            </h1>
        </div>
        <div class="login-box-body">
            <form action="/login" method="post" class="login_form">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" name="remember"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="register" class="text-center">没用账户?去注册</a>
        </div>
    </div>

{% endblock %}
